@charset "UTF-8";

/* CSS Document */
/* Button Styling */
.btn {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #D9001B;
  border-radius: 2px;
  display: inline-block;
  border: none;
  padding: 16px 64px;
}

.btn-inverse{
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #D9001B;
  background-color: white;
  border-radius: 2px;
  border-color: #D9001B;
  display: inline-block;
  padding: 16px 64px;
}

.btn:hover {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #A30014;
  border-radius: 2px;
  display: inline-block;
  border: none;
  padding: 16px 64px;
}


/* Radio buttons */
.switch-field {
    display: inline-grid;
    margin-bottom: 16px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    text-align: left;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  display: block;
  width: 100%;
  padding: 0.375rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #D9001B;
    color: white;
    box-shadow: none;
}
