footer {
  position: absolute;
  bottom: 0;
}

.title {
  margin-top: 64px;
  margin-left: 64px;
}


.bootstrap-datetimepicker-widget tr:hover {
    background-color: none;
}

.calendar { margin-left: 48px;}

/*dropdown sections*/
.dropdown-options{
  width: 192px;
}

.form-group{
  display: flex;
}

.weekday_label{
  margin-right: 15px;
}
