/*All devices*/


/*iPhone X*/
@media screen and (max-width: 375px) {
  div.workouts, div.about, div.join-us {
    margin: 16px;
  }

  .workout-img-tag, .about-img-tag {
    height: auto;
    width: 100%;
    align: center;
    margin-bottom: 16px;
}

  .navbar {
    width: inherit;
  }

  .workout-section, .about-section, .join-section {
    width: 85%;
  }

  a.btn {
    width: inherit;
    margin-bottom: 32px;
  }

  .workout-content, .about-content, .join-us{
    text-align: center;
  }

}



/*iPad*/
@media screen and (max-width: 768px) {
  div.workouts, div.about, div.join-us {
    margin: 64px;
  }

  .workout-img-tag, .about-img-tag {
    height: auto;
    width: 100%;
    align: center;
    margin-bottom: 16px;
}

  .navbar {
    width: inherit;
  }

  .workout-section, .about-section, .join-section {
    width: 85%;
  }

  a.btn {
    width: inherit;
    margin-bottom: 32px;
  }

  .workout-content, .about-content, .join-us{
    text-align: center;
  }
}





/*Desktop*/
@media screen and (min-width: 1200px) {
  div.workouts, div.about, div.join-us {
    margin: 64px;
    padding: 64px 64px;
  }

  .workout-img-tag {
    float: left;
    margin-bottom: 64px;
  }

  .about-img-tag {
    float: right;
    margin-bottom: 64px;
  }

  .about, .join-us {
    clear: both;
  }

  .join-us {
    text-align: center;
  }

  .workout-content {
    float: right;
    width: 60%;
  }

  .about-content {
    width: 60%;
  }
}
