/*All devices*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button-submit, .signup{
  text-align: center;
}

.signup_text {
  font-style: italic;
}


/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {

.login_body {
  margin: 12px;
}

.title, .input, .button-submit {
  padding-bottom: 16px;
}

.password_input {
  margin-bottom: 24px;
}


}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

.login_body {
  margin: 16px;
}

.title, .input, .button-submit {
  padding-bottom: 16px;
}

.password_input {
  margin-bottom: 24px;
}


}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .login_body {
    margin: 32px;
  }

  .title, .input, .button-submit {
    padding-bottom: 16px;
  }

  .password_input {
    margin-bottom: 24px;
  }
  .input-fields {
    width: 65%;
  }

.button-submit, .signup {text-align: left;}

}


/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
 .login_body {
    margin: 48px; }

  .input-fields {
    width: 45%;
  }

  .title, .input, .button-submit {
    padding-bottom: 16px;
  }

  .password_input {
    margin-bottom: 24px;
  }

  .button-submit, .signup {text-align: left;}

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .login_body {
    margin: 64px;
  }

  .input-fields {
    width: 35%;
  }

  .title, .input, .button-submit {
    padding-bottom: 16px;
  }

  .password_input {
    margin-bottom: 24px;
  }

  .button-submit, .signup {text-align: left;}
}
