/*All devices*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*iPhone X*/
@media screen and (max-width: 375px) {
  .input-fields {
    width: 85%;
  }

  .title, .input, .button-submit {
    padding-bottom: 12px;
  }

  .login_body {
    margin: 24px;
  }

  .password_input {
    margin-bottom: 32px;
  }
}

/*iPad*/
@media screen and (min-width: 768px) {
  .signup_text {
    font-style: italic;
  }

  .login_body {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .input-fields {
    width: 35%;
  }

  .title, .input, .button-submit {
    padding-bottom: 24px;
  }
}
}

/*Desktop*/
@media screen and (min-width: 1200px) {
  .signup_text {
    font-style: italic;
  }

  .login_body {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .input-fields {
    width: 35%;
  }

  .title, .input, .button-submit {
    padding-bottom: 24px;
  }
}
