/* Extra small devices (portrait phones, less than 576px)
 No media query for xs since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  div{
  margin: 16px;
}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  div{
    margin: 32px; }
  }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  div{
    margin: 48px; }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  div{
    margin: 64px; }
  }
