@charset "UTF-8";
/* CSS Document */

/* Text */
a.navbar-brand.logo:hover {
    color: rgba(217, 0, 27, 1);
}
img.logo-icon {
	margin-left: 64px;
    filter: invert(1);
}


/* Nav */
nav {
color: white;
}


/* Footer */
footer {
	text-align: center;
	background: #343a40;
	padding: 32px;
	color: white;
}
