@charset "UTF-8";
/* CSS Document */

/* Text */
a.logo:hover {color: #A30014;}


	img.logo-icon {
		margin-left: 64px;
	    filter: invert(1);
	}

.invert { filter: invert(100%); }

/* Nav */
nav {
color: white;
}


/* Footer */
footer {
	text-align: center;
	background: #343a40;
	padding: 32px;
	color: white;
}
