@charset "UTF-8";
/* CSS Document */

/* Text */

body {font-family: Montserrat;
				font-size: 16px;
				font-weight:400;}

h2 {font-family: Montserrat;
	font-weight: 300;
	font-size: 1.5em}

p {font-family: Montserrat;
	font-weight: 400;
	font-size: 1em}

a.btn {font-family: Montserrat;
	font-weight: 700;
	font-size: 1em}

a.logo {font-family:Montserrat;
		font-weight: 700;
		font-size: 1em;
		color: #D9001B;
		margin-left: 16px;
		z-index: 1;}

a.logo:hover {color: #A30014;}

img.logo-icon {margin-left:64px;}

/* Button Styling */
a.btn { font-size: 12px;
		text-decoration:none;
		text-align: center;
		color: white;
		background-color: #D9001B;
		border-radius: 2px;
		display: inline-block;
		border: none;
		padding: 16px 64px}

a.btn:hover { font-size: 12px;
		text-decoration:none;
		text-align: center;
		color: white;
		background-color: #A30014;
		border-radius: 2px;
		display: inline-block;
		border: none;
		padding: 16px 64px}

nav {font-family: Montserrat;
		font-size: 16px;
		text-align: right;}


/* Section Styling */

div.workouts, div.about, div.join-us {
	margin-top:64px;
	margin-bottom: 64px;
	margin-left: 64px;
	margin-right: 64px;
	padding: 64px 64px;
}

.workout-img-tag {
	float: left;
	margin-bottom: 64px;
}

.about-img-tag {
	float: right;
	margin-bottom: 64px;
}

.about, .join-us {
	clear: both;
}

.join-us {
	text-align: center;
}

.workout-content {
	float: right;
	width: 45%;

}

.about-content {
	width: 45%;
}

/* Nav */

nav {
	position: absolute;
	top: 0px; left: 0px;
	padding: 0 0 0 0;
	width: 100%;
}

nav::after {content:' '; display: block; clear: both;}

nav ul {list-style: none;
		margin: 0;
		padding: 0px;}

nav ul li a {display: inline-block;
			padding: 0px 16px;
			Width: 164px;
			position: relative;
			color: black;
			}

nav > ul {padding-left: 564px;

		}

nav > ul > li {float: left;}

nav ul li a:visited {color: black;}
nav ul li a:hover {color: darkgray;}


/* Footer */
footer {
	text-align: center;
	background: #F2F2F2;
	padding: 32px;
}


@media screen and (max-width: 1024px){

/* Sections */

.workout-img-tag {
	height: 300px;
	width: 450px;
	float: none;
	margin-bottom: 64px;
	align: center;
}

.about-img-tag {
	height: 300px;
	width: 450px;
	float: none;
	margin-bottom: 64px;
	align: center;
}

.workout-content {
	float: none;
	text-align: center;
	width: 100%;
}

.about-content {
	float: none;
	text-align: center;
	width: 100%;
}

}

@media screen and (max-width: 600px){

	img.workout-img-tag {
		height: auto;
		width: 250px;
	}

	img.about-img-tag {
		height: auto;
		width: 250px;
	}
}
