/* Extra small devices (portrait phones, less than 576px)
 No media query for xs since this is the default in Bootstrap */
/*All devices*/
.comment-box {
  width: 100%;
}

.set-1-input, .weight-1-input {
  width: 88px;
  border-radius: 16px;
  text-align: center;
}

.set-1, .weight-1 {
  display: inline-block;
  vertical-align: top;
}

.btn.cancel-btn {
  display: block;
}

/* Overlay */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay-btns {
  position: absolute;
  text-align: center;
  top: 30%;
}

/* Overlay END */
/* Extra Small devices (landscape phones, 576px and down)*/
@media screen and (max-width: 576px) {
  #page {
    margin: 12px;
  }

  .workout-button {
    text-align: center;
    margin-bottom: 12px;
  }

  .btn, .btn-inverse {
    width: 20em !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  #page {
    margin: 16px;
  }

  .workout-button {
    text-align: center;
    margin-bottom: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #page {
    margin: 32px;
  }

  .workout-button {
    text-align: left;
    margin-bottom: 32px;
    margin-left: 32px;
  }

  .overlay-btns {
    left: 8%;
  }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  #page {
    margin: 48px;
  }

  .workout-button {
    text-align: left;
    margin-bottom: 48px;
    margin-left: 48px;
  }

  .overlay-btns {
    left: 15%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #page {
    margin: 64px;
  }

  .workout-button {
    text-align: left;
    margin-bottom: 64px;
    margin-left: 64px;
  }

  .overlay-btns {
    left: 20%;
  }
}
