@charset "UTF-8";

/* CSS Document */
/*All devices*/
#home {
  text-align: left;
}

.button-submit {
  text-align: center;
}

/*iPhone X*/
@media screen and (max-width: 375px) {
  #home {
    margin: 32px;
  }

  .question, .title {
    margin-bottom: 20px;
  }
}

/*iPad*/
@media screen and (min-width: 768px) {
  #home {
    margin: 48px;
  }

  .question, .title {
    margin-bottom: 25px;
  }
}

/*Desktop*/
@media screen and (min-width: 1200px) {
  #home {
    margin: 64px;
  }

  .question, .title {
    margin-bottom: 30px;
  }

  .title {
    width: 50%;
  }
}
