@charset "UTF-8";
/* CSS Document */


/* Text */
h2 {font-family: Montserrat;
	font-weight: 300;
	font-size: 24px}

/* Sets */

.header-line {
	margin-bottom: 64px;
}

h2, h3, p, .btn { margin-left: 64px
		}

h2 {
	margin-top: 64px;
}

.btn {margin-bottom: 64px;}

.comment-box {
	margin-left: 64px;
	margin-bottom: 64px;
	width: 50%;
}
.weights, .sets, {
	margin-left: 64px;
}

.set-1-input, .weight-1-input {
	width: 88px;
	border-radius: 16px;
	text-align: center;
}

.set-1, .weight-1 {
	display: inline-block;
	vertical-align: top;
}

.weight-group, .set-group {
	margin-left: 64px;
}


/* Button Styling */
a.btn { font-size: 1em;
		text-decoration:none;
		text-align: center;
		color: white;
		background-color: #D9001B;
		border-radius: 2px;
		display: inline-block;
		border: none;
		padding: 16px 64px}

a.btn:hover { font-size: 1em;
		text-decoration:none;
		text-align: center;
		color: white;
		background-color: #A30014;
		border-radius: 2px;
		display: inline-block;
		border: none;
		padding: 16px 64px}

/* Overlay */



/* Responsive */

@media screen and (max-width: 768px){

		.comment-box {
			width: 75%;

		}
	}
